@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background: #0f172a;
  color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}

/* Floating Animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}






